/*CSS files
Jayden Pickin
Created: 10/08/2025*/

body {
    margin: 0px;
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
}

html

h1 {
    text-align: center;
    font-family: Lucida-Handwriting, cursive;
    font-weight: normal;
    color: white;
    font-size: 15vw;
    vertical-align: center;
}

h2 {
    text-align: center;
    background-color:red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

table{
    width: 100%;
    align-items: center;
}

table.headerForm, tr.headerForm, th.headerForm, td.headerForm{
    position: sticky;
    display: table;
    width: 100%;
    background-color: darkRed;
    height: 50px;
    font-size: 200%;
    border-spacing: 6px;
}

td.right{
    text-align: right;
    display: table;
    width: 100%;
}

table.footerForm, tr.footerForm, th.footerForm,td.footerForm{
    display: table;
    width: 100%;
    text-align: center;
    background-color: DarkSlateGrey;
    height: 100px;
    font-size: 8vh;
    border-spacing: 13px;
    border: white;
}

header.mainHeader{
    position: sticky;
    background-color: white;
    width: 100%;
    height: 4rem;
    display: block;
}

div.headercontent{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

div.headeritemsLeft{
    align-items: center;
    display: inline-flex;
    padding-right: 1.5rem;
}
div.headeritemsMiddle{
    align-items: center;
    flex-grow: 1;
    justify-content: center;
}
div.headeritemsRight{
    align-items: center;
    display: inline-flex;
    padding-left: 1.5rem;
}

header.welcome{
    padding: 0px;
    display: flex;
    justify-content: center;
    height: 400px;
    width: 100%;
    align-items: center;
    background-color: black;
    color: white;
}

ul li a:hover {
    text-decoration: underline;
    background-color: darkcyan;
}

ul.nav{
    position: sticky;
    background-color: darkgrey;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width:100%;
    height: 50px;
}

li.right_link{
    style:float:right;
}

ul li{
    float: left
}

ul li a{
    overflow: hidden;
    display: block;
    padding: 14px 16px;
    text-decoration: none;
}

a.header:link,a.header:visited,a.header:hover{
    color:black
}

li.right_link{
    float: right;
}















